:root{
  --color: #000;
  --font: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

h1, h2,h3,h4, h5, h6 {
  margin:0.5rem 0;

}
p{
  margin: 0.5em 0;
 
}



body {
  min-width: 100%;
  background: #fff;
  display:grid;
  grid-template-columns: 1fr auto;
  gap:40px;	
  position: relative;
}

section.sidebar {
    /* background: #3403e2; */
    /* background: #1b191f; */
    background: #000b70;
    padding: 1rem;
    width: 20rem;
    min-height: 100vh;
    position: relative;
    z-index: 10;
    /* display: block; */
  }

  section.sidebar small {
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
  }

  section.sidebar h1 {
    color: #fff;
    font-size: min(1rem, 5vw);
    font-weight: 300;
    margin: 0;
  }

  section.sidebar nav {
    margin-top: 2rem;
  }

  section.sidebar nav ul {
    padding: 0;
    margin: 0;
  }

  section ul li {
    list-style: none;
    margin: 1rem 0;
  }

  section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: min(0.85rem, 5vw);
    font-weight: 400;
    text-transform: uppercase;
  }

  section ul li ul.subitems{
    margin-left:2rem;
  }


  pre.astro-code {
    padding: 1rem;
    margin:1rem 0;
    background: #34373c;
}

.visible{
  display: block;
}

.invisible{
  display: none;
}

li.sub-nav-item a{
  font-size: 0.85rem;
  text-transform: capitalize;
}

@media only screen and (max-width:980px) {
  .sidebar{
    display: none;

  }
}

/* Style rules for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
/* Style rules for light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}