---
import Main from '../components/Main.astro'
import Sidebar from '../components/Sidebar.astro'
import Layout from '../layouts/Layout.astro'

export async function getStaticPaths() {
    const notes = await Astro.glob('./overview/*.mdx')
        return notes.map((note)=>({
            params:{slug:note.frontmatter.slug},
            props:{note}
        })
    )
    }

  

    const navItems = await Astro.glob('./overview/*.mdx')
    const {Content,frontmatter} = Astro.props.note
    navItems.sort((a,b)=>a.frontmatter.order - b.frontmatter.order)
---
<Layout title={frontmatter.title}>
	<Sidebar slot="sidebar" logoText="Learn the Web Notes" navItems={navItems} />
    <Main title={frontmatter.title}>
        <Content/>
    </Main>
</Layout>



