---

const { title } = Astro.props
---

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{title}</title>
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
