<footer>
    <ul>
      <li>All Rights Reserved &copy; 2023 Raphael Amponsah</li>
  
    </ul>
  </footer>

<style>
  footer ul li {
    color: #fff;
    font-size: min(0.65em,1.5rem);
    line-height: 0.65;
    bottom:0;
    position: absolute;
  }
</style>
