---
import FolderIcon from "./FolderIcon.astro";
---

<div class="main-nav">
  <a href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 14 14"
      height="24"
      width="24"
      ><g
        ><polyline
          points="0.5 8.5 7 2 13.5 8.5"
          fill="none"
          stroke="#fffcfc"
          stroke-linecap="round"
          stroke-linejoin="round"></polyline><polyline
          points="2.5 6.5 2.5 13.5 11.5 13.5 11.5 6.5"
          fill="none"
          stroke="#fffcfc"
          stroke-linecap="round"
          stroke-linejoin="round"></polyline><line
          x1="7"
          y1="13.5"
          x2="7"
          y2="10.5"
          fill="none"
          stroke="#fffcfc"
          stroke-linecap="round"
          stroke-linejoin="round"></line><circle
          cx="7"
          cy="6.75"
          r="1.25"
          fill="none"
          stroke="#fffcfc"
          stroke-linecap="round"
          stroke-linejoin="round"></circle>
      </g>
    </svg>
  </a>
  <a href="/notes/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 14 14"
      height="24"
      width="24"
      ><g
        ><path
          d="M13.5,9.54a1,1,0,0,0-1-1h-3v1h-5v-1h-3a1,1,0,0,0-1,1v3a1,1,0,0,0,1,1h11a1,1,0,0,0,1-1Z"
          fill="none"
          stroke="#fdfbfb"
          stroke-linecap="round"
          stroke-linejoin="round"></path><line
          x1="1.5"
          y1="5.54"
          x2="12.5"
          y2="5.54"
          fill="none"
          stroke="#fdfbfb"
          stroke-linecap="round"
          stroke-linejoin="round"></line><line
          x1="1.5"
          y1="2.54"
          x2="12.5"
          y2="2.54"
          fill="none"
          stroke="#fdfbfb"
          stroke-linecap="round"
          stroke-linejoin="round"></line>
      </g>
    </svg>
  </a>


</div>

<style>
  div.main-nav {
    margin-top: 1rem;
  }
</style>
