---
import FolderIcon from "./FolderIcon.astro";

---

<div class="main-nav">
    <a href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
        height="18"
        width="18"
        ><path
          fill="#ffffff"
          d="M7.00001 8.08887C7.921 8.08887 8.66762 8.83548 8.66762 9.75648V12.7964H5.3324V9.75648C5.3324 8.83548 6.07901 8.08887 7.00001 8.08887Z"
        ></path><path
          stroke="#034dca"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M0.75 8.47021L6.24259 2.09881C6.64151 1.63606 7.35849 1.63606 7.75741 2.09881L13.25 8.47021"
        ></path><path
          fill="#67befa"
          fill-rule="evenodd"
          d="M6.24115 2.0877L2.67304 6.24471L2.46923 7.69865C2.28558 9.00884 2.29457 10.3388 2.49593 11.6464C2.59783 12.3081 3.1672 12.7965 3.83668 12.7965H10.1632C10.8327 12.7965 11.4021 12.3081 11.504 11.6464C11.7053 10.3388 11.7143 9.00884 11.5307 7.69865L11.3269 6.24471L7.75877 2.0877C7.35971 1.62278 6.6402 1.62279 6.24115 2.0877ZM8.66758 9.75652C8.66758 8.83552 7.92096 8.08891 6.99997 8.08891C6.07897 8.08891 5.33236 8.83552 5.33236 9.75652V12.7964H8.66758V9.75652Z"
          clip-rule="evenodd"></path><path
          stroke="#034dca"
          stroke-linejoin="round"
          d="M2.67303 6.24467L6.24114 2.08766C6.6402 1.62274 7.35971 1.62274 7.75876 2.08766L11.3269 6.24467L11.5307 7.69861C11.7143 9.0088 11.7053 10.3388 11.504 11.6464V11.6464C11.4021 12.3081 10.8327 12.7965 10.1632 12.7965H3.83667C3.16719 12.7965 2.59782 12.3081 2.49592 11.6464V11.6464C2.29457 10.3388 2.28557 9.0088 2.46922 7.69861L2.67303 6.24467Z"
        ></path><path
          stroke="#034dca"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.00001 8.08887C7.921 8.08887 8.66762 8.83548 8.66762 9.75648V12.7964H5.3324V9.75648C5.3324 8.83548 6.07901 8.08887 7.00001 8.08887Z"
        ></path>
      </svg>
    </a>
    <a href="/notes/">
     <FolderIcon/>
    </a>
  </div>

<style>
    div.main-nav {
    margin-top: 1rem;
  }
</style>