	<div class="overview-image">
			<img src={bannerImage} class="banner-image" alt={bannerAltText}>
		</div>


		<style>
			.overview-image {
				max-height:200px;
				width:100%;
				overflow: hidden;
		
			}
			.banner-image {
				object-fit: cover;
		
			}
		</style>