<div class="profile-photo">
    <img src="https://pbs.twimg.com/profile_images/1489557817975611397/MnaVSMsG_400x400.jpg" alt="">
</div>

<style>
    .profile-photo img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;

    }
</style>